﻿    @section Scripts {
    @Scripts.Render("~/bundles/application")
}

<section class="streetlights">
    <header>
        <h2>Streetlights</h2>
    </header>
    <nav class="shadowContent">
        <ul data-bind="foreach: streetlights">
            <li><a data-bind="text: description, click: $parent.selectStreetlight.bind($data, $parent)"></a></li>
        </ul>
    </nav>


</section>
<section data-bind="visible: isBulbFaulty() == true">
    <p>The button should be disabled until the fault is repaired.</p>
    <button data-bind="click:close()">Close</button>
</section>
<div data-bind="css: { spinner: loadingCss() == true }"></div>
<section class="streetlight-details" data-bind="visible:loadingCss() == false && hideMain() == false">
    <header>
        <h2 style="display: inline-block">Streetlight Details</h2>
    </header>
    <article class="shadowContent" data-bind="with: selectedStreetlight">
        <div data-bind="with: $root">
            <button id="lighter" class="pull-right" data-bind="click: toggleLightState.bind($data, selectedStreetlight()), text: selectedStreetlight().isSwitchedOn() ? 'Switch Off' : 'Switch On' "></button>
            <h2>Streetlight Information</h2>
            <p id="bulber">Power Draw: <span data-bind="text:computedPowerDrawn"></span>W
            </p>


        </div>

        <div >
            <h3>Bulb Information</h3>
            <ul class="list-group" data-bind="foreach: bulbs">
                <li class="list-group-item">
                    <div class="bulb-display" data-bind="css:{ 'faulty': bulbStatus().faultCondition!==null && bulbStatus().faultCondition!==0, 'bulb-display-on':bulbStatus().isOn, 'bulb-display-off':!bulbStatus().isOn} "></div>
                    <span data-bind="text: bulbStatus().isOn ? 'On' : 'Off'"></span>
                    <span data-bind="bulbInformation.bulbType"></span>
                    <span data-bind="visible: $root.isFailed($data)">Failed</span>
                    Temperature:
                    <span data-bind="css:{ 'bulb-temperature-zero':bulbStatus().bulbTemperature<1 || bulbStatus().bulbTemperature<(bulbInformation.maxTemperature/2), 'bulb-temperature-half-max': bulbStatus().bulbTemperature>=(bulbInformation.maxTemperature/2),'bulb-temperature-exceeded-max': bulbStatus().bulbTemperature>bulbInformation.maxTemperature-1}">
                    <span data-bind="text: bulbStatus().bulbTemperature"></span>/<span data-bind="text:bulbInformation.maxTemperature"></span>C</span>
                    Hours: <span data-bind="text: bulbStatus().bulbHours"></span>/<span data-bind="text:bulbInformation.maxHours"></span>hrs
                    <button class="pull-right" data-bind="click: $root.toggleBulbState.bind($parent,$root), text: bulbStatus().isOn ? 'Switch Off' : 'Switch On', enable:$root.selectedStreetlight().isSwitchedOn()==true && !(bulbStatus().bulbTemperature>bulbInformation.maxTemperature-1)"></button>
                    <button class="pull-right" data-bind="click: $root.updateBulbFaultStatus.bind($parent,$root), text: (!bulbStatus().faultCondition) && !(bulbStatus().bulbTemperature>bulbInformation.maxTemperature-1) ? 'Set Fault' : 'Repair', enable:$root.selectedStreetlight().isSwitchedOn()==true "></button>
                </li>
            </ul>

        </div>
    </article>
</section>