﻿/* Set padding to keep content from hitting the edges */
body {
    padding: 15px;
    background-color: #f5f5f5;
    position:absolute;
    top:0;
    width:100%;
    bottom:0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    padding-left: 6px;
    display:inline-block;
    margin-top:0;
}

.shadowContent {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background: white;
    margin: 4px;
    min-height:400px
}

article.shadowContent {
    padding:10px;
    min-width:600px;
}

article h2 {
    padding-left:0;
}

.streetlights {
    width: 280px;
    float:left;
}

.streetlights ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.streetlights li {
    border-bottom: 1px solid #77a5e5;
}

.streetlights li:last-child {
    border: none;
}

.streetlights li a {
    font: 20px;
    color: #5489d3;
    display: block;
    cursor: pointer;
    padding: 3px;
    padding-left: 8px;
}

.streetlights li a:hover, .people li a.active {
    color: white;
    background: #5489d3;
}

.streetlight-details {
  float:left;
  margin-left: 20px;
  width: auto;
}

.streetlight-details .complete {
    font-style: italic !important;
}

.bulb-display {
    border-radius:10px;
    width:20px;
    height:20px;
    border:1px solid gray;
    display:inline-block;
}

.bulb-display-on {
    border-radius:10px;
    width:20px;
    height:20px;
    background:yellow;
    display:inline-block;
}

.bulb-display-off {
    border-radius:10px;
    width:20px;
    height:20px;
    background:black;
    display:inline-block;
}

.faulty {
    border-radius:10px;
    width:20px;
    height:20px;
    background: red;
    display:inline-block;
}

.bulb-temperature-zero{
   
    color:lightgrey;
}

.bulb-temperature-half-max{
   
    color:orange;
}

.bulb-temperature-exceeded-max{
   
    color: red;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}